{% if tree['left'][i] != tree['right'][i] %}
    if (x[{{ tree['features'][i] }}] <= {{ tree['thresholds'][i] }}) {
        {% with i = tree['left'][i] %}
            {% include 'xgboost/tree.jinja' %}
        {% endwith %}
    }
    else {
        {% with i = tree['right'][i] %}
            {% include 'xgboost/tree.jinja' %}
        {% endwith %}
    }
{% else %}
    votes[{{ class_idx }}] += {{ tree['thresholds'][i] }};
{% endif %}