{% extends '_skeleton.jinja' %}

{% block predict %}
    float votes[{{ classes|length }}] = { {% for i, x in f.enumerate(intercept) %}{% if i > 0 %},{% endif %}{{ f.round(x) }} {% endfor %} };

    {% include 'logisticregression/vote.%s.jinja' % platform %}
    {% include 'vote.jinja' %}
{% endblock %}

{% block protected %}
    {% with dimension = weights[0]|length, expr = 'x[i] * wi' %}
        {% include 'dot.jinja' %}
    {% endwith %}
{% endblock %}